[Unit]
Description=Gunicorn server for superlists-test.ddns.net

[Service]
Restart=on-failure
User=luck
Environment=EMAIL_PASSWORD=“pls pull your real emailpassword”
WorkingDirectory=/home/luck/sites/superlists-test.ddns.net/source
ExecStart=/home/luck/sites/superlists-test.ddns.net/virtualenv/bin/gunicorn \
	--bind unix:/tmp/superlists-test.ddns.net.socket \
	--capture-output \
	--access-logfile ../access.log \
	--error-logfile ../error.log \
	superlists.wsgi:application -w3

[Install]
WantedBy=multi-user.target

